.marketsidebar {
    background: $dark;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    top: 0;
    box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08);
    border-right: 1px solid $border-color;
    // @include respond("tab-port") {
    //    display: none;
    // }
    .menu {
        margin-top: 100px;
        &_hr {
            span {
                flex: 0 0 auto;
            }
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            letter-spacing: .6px;
            text-transform: uppercase;
            padding: 12px 24px 8px;
            color: #6b6a80;
            &::after {
                content: "";
                display: block;
                background-color: #2d2d3d;
                width: 100%;
                height: 1px;
                margin-left: 6px;
            }
        }
        ul {
            li {
                text-align: left;
                margin-bottom: 15px;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                .menu_number {
                    font-size: 12px;

                }
                .arrow-bottom {
                    border-top: 4px solid #ff5353;
                    width: 0;
                    height: 0;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                }
                .arrow-up {
                    border-bottom: 4px solid #57ffc3;
                    width: 0;
                    height: 0;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                }
                a {
                    padding: 8px 10px;
                    display: block;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    color: $text-muted;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $hover-color;
                        color: $white;
                        i {
                            color: $white;
                        }
                    }
                    &.active {
                        background: lighten($body-bg, 0%);
                        i {
                            color: $white;
                        }
                    }
                    i {
                        color: $headings-color;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.marketmobilesidebar{
    background: $dark;
    height: 100%;
    width: 250px;
    box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08);
    // border-right: 1px solid $border-color;
    .menu {
        padding-top: 100px;
        height: 100%;
        ul {
            li {
                text-align: left;
                margin-bottom: 15px;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                .menu_number {
                    font-size: 12px;

                }
                .arrow-bottom {
                    border-top: 4px solid #ff5353;
                    width: 0;
                    height: 0;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                }
                .arrow-up {
                    border-bottom: 4px solid #57ffc3;
                    width: 0;
                    height: 0;
                    border-left: 3px solid transparent;
                    border-right: 3px solid transparent;
                }
                a {
                    padding: 8px 10px;
                    display: block;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    color: $text-muted;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $hover-color;
                        color: $white;
                        i {
                            color: $white;
                        }
                    }
                    &.active {
                        background: lighten($body-bg, 0%);
                        i {
                            color: $white;
                        }
                    }
                    i {
                        color: $headings-color;
                        font-size: 20px;
                    }
                }
            }
        }
        &_hr {
            span {
                flex: 0 0 auto;
            }
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            letter-spacing: .6px;
            text-transform: uppercase;
            padding: 12px 24px 8px;
            color: #6b6a80;
            &::after {
                content: "";
                display: block;
                background-color: #2d2d3d;
                width: 100%;
                height: 1px;
                margin-left: 6px;
            }
        }
    }
}