.portfoliosidebar {
    background: $dark;
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    top: 0;
    box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08);
    border-right: 1px solid $border-color;
    .menu {
        margin-top: 100px;
        ul {
            li {
                text-align: left;
                margin-bottom: 15px;
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                a {
                    padding: 8px 10px;
                    display: block;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    color: $text-muted;
                    &:hover,
                    &:focus,
                    &:active {
                        background: $hover-color;
                        color: $white;
                        i {
                            color: $white;
                        }
                    }
                    &.active {
                        background: lighten($body-bg, 0%);
                        i {
                            color: $white;
                        }
                    }
                    i {
                        color: $headings-color;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
